# Importing Libraries

In [1]:
import numpy as np
import pandas as pd

# Importing the Data for ML

In [3]:
data = pd.read_csv(r'C:\Users\Akilan\Documents\Python Scripts\ML\hou_all.csv')

In [88]:
data_dict = pd.read_excel('C:/Users/aksin52/Documents/Machine Learning Express/Introduction to Machine Learning/Marketing Analytics Specialization/Part 2 - Data Preprocessing/Data/Data_Dictionary_Insurance.xlsx')

In [89]:
# Checking Imported data size

In [4]:
data.shape

(506, 14)

# Printing a few rows of the data

In [5]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

# Print the Data Dictionary

In [6]:
data_dict

NameError: name 'data_dict' is not defined

# Check for data types in the data

In [7]:
data.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS         int64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX          int64
PTRATIO    float64
B          float64
LSTAT      float64
Medv       float64
dtype: object

# Dropping any given ID feature

In [94]:
data=data.drop(['id'],axis=1)

# Defining Independent and Target Feature

In [8]:
# Create a indepedent feature dataframe
X=data.drop(['Medv'],axis=1)

# Create a dependent feature dataframe
Y=data[['Medv']]

# Check for Missing Value Percentage across all features

In [9]:
X.isnull().mean()

CRIM       0.0
ZN         0.0
INDUS      0.0
CHAS       0.0
NOX        0.0
RM         0.0
AGE        0.0
DIS        0.0
RAD        0.0
TAX        0.0
PTRATIO    0.0
B          0.0
LSTAT      0.0
dtype: float64

In [10]:
Y.isnull().mean()

Medv    0.0
dtype: float64

# Dropping variables that have more than 25% missing values

In [98]:
X = X.loc[:, X.isnull().mean() <= .25]

# Imputation of missing values

In [11]:
# Create a dataframe for numeric features
num=X.select_dtypes(include='number')

# Create a dataframe for categorical features
char=X.select_dtypes(include='object')

In [12]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
num_1=pd.DataFrame(imputer.fit_transform(num),index=num.index,columns=num.columns)

In [101]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan, strategy='most_frequent')
char_1=pd.DataFrame(imputer.fit_transform(char),index=char.index,columns=char.columns)

In [13]:
num.describe(percentiles=[0.01,0.1,0.15,0.2,0.25,0.5,0.75,0.9,0.95,0.99])

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000
1%,0.013610,0.000000,1.253500,0.000000,0.398000,4.524450,6.610000,1.206540,1.000000,188.000000,13.000000,6.730000,2.883000
10%,0.038195,0.000000,2.910000,0.000000,0.427000,5.593500,26.950000,1.628300,3.000000,233.000000,14.750000,290.270000,4.680000
15%,0.050770,0.000000,3.640000,0.000000,0.436500,5.712000,32.200000,1.802200,3.000000,254.750000,15.575000,343.857500,5.465000
20%,0.064170,0.000000,4.390000,0.000000,0.442000,5.837000,37.800000,1.951200,4.000000,273.000000,16.600000,364.310000,6.290000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000
75%,3.677082,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000
90%,10.753000,42.500000,19.580000,0.000000,0.713000,7.151500,98.800000,6.816600,24.000000,666.000000,20.900000,396.900000,23.035000
95%,15.789150,80.000000,21.890000,1.000000,0.740000,7.587500,100.000000,7.827800,24.000000,666.000000,21.000000,396.900000,26.807500
99%,41.370330,90.000000,25.650000,1.000000,0.871000,8.335000,100.000000,9.222770,24.000000,666.000000,21.200000,396.900000,33.918500
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

# Removal of Extreme Values and Outliers from the numerical features

In [103]:
def outlier_cap(x):
    x=x.clip_upper(x.quantile(0.99))
    x=x.clip_lower(x.quantile(0.01))
    return(x)

In [104]:
num=num.apply(lambda x : outlier_cap(x))
num.describe(percentiles=[0.01,0.1,0.15,0.2,0.25,0.5,0.75,0.9,0.95,0.99])

               age          bmi     children
count  1338.000000  1338.000000  1338.000000
mean     39.207025    30.649718     1.094918
std      14.049960     6.025065     1.205493
min      18.000000    17.895150     0.000000
1%       18.000000    17.917295     0.000000
10%      19.000000    22.990000     0.000000
15%      22.000000    24.266250     0.000000
20%      24.000000    25.326000     0.000000
25%      27.000000    26.296250     0.000000
50%      39.000000    30.400000     1.000000
75%      51.000000    34.693750     2.000000
90%      59.000000    38.619500     3.000000
95%      62.000000    41.106000     3.000000
99%      64.000000    46.330977     5.000000
max      64.000000    46.407900     5.000000

# Removing features with 0 Variance

In [105]:
from sklearn.feature_selection import VarianceThreshold
varcutoff=VarianceThreshold()
num_1=pd.DataFrame(varcutoff.fit_transform(num_1),index=num_1.index,columns=num_1.columns)
num_1.describe()

               age          bmi     children
count  1338.000000  1338.000000  1338.000000
mean     39.207025    30.663397     1.094918
std      14.049960     6.098187     1.205493
min      18.000000    15.960000     0.000000
25%      27.000000    26.296250     0.000000
50%      39.000000    30.400000     1.000000
75%      51.000000    34.693750     2.000000
max      64.000000    53.130000     5.000000

# Encoding Categorical Independent Features

In [106]:
char_1.head()

      sex smoker     region
0  female    yes  southwest
1    male     no  southeast
2    male     no  southeast
3    male     no  northwest
4    male     no  northwest

In [107]:
char_encode=pd.get_dummies(char_1)

In [108]:
char_encode.head()

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,1,0,0,1,0,0,0,1
1,0,1,1,0,0,0,1,0
2,0,1,1,0,0,0,1,0
3,0,1,1,0,0,1,0,0
4,0,1,1,0,0,1,0,0

# Feature Scaling

In [109]:
from sklearn.preprocessing import StandardScaler
std=StandardScaler()
X_all_std=pd.DataFrame(std.fit_transform(X_all),index=X_all.index,columns=X_all.columns)

# Feature Discretization

In [110]:
from sklearn.preprocessing import KBinsDiscretizer
Bins=KBinsDiscretizer(n_bins=10,encode='ordinal',strategy='quantile')
df_new=pd.DataFrame(Bins.fit_transform(num_1),index=num_1.index, columns=num_1.columns).add_suffix('_Bin')
df_new.head()

C:\Anaconda_Python\lib\site-packages\sklearn\preprocessing\_discretization.py:202: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 2 are removed. Consider decreasing the number of bins.
  'decreasing the number of bins.' % jj)

   age_Bin  bmi_Bin  children_Bin
0      1.0      3.0           0.0
1      0.0      7.0           1.0
2      2.0      6.0           3.0
3      3.0      0.0           0.0
4      3.0      4.0           0.0

# Joining dataframes to create a complete feature set

In [111]:
X_all=pd.concat([num_1,char_encode],axis=1,join='inner')
X_all.shape

(1338, 11)

# Splitting the data into Train and Test Sets

In [112]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X_all,Y, test_size=0.3,random_state=42)